<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>1025</title>
</head>

<body>
    <section id="vm">
        <label for="N">
            总共的娱乐项目数
            <br>
            <input type="number" name="N" v-model="N">
        </label>
        <br>
        <label for="t">
            规定的时间
            <br>
            <input type="number" name="t" v-model="t">
        </label>
        <br>
        <button @click="handleConfirm">确定</button>
    </section>
</body>

<script src="../../js/vue.js"></script>
<script>
    const vm = new Vue({
        el: '#vm',
        data: {
            N: null,
            t: null
        },
        methods: {
            handleConfirm() {
                console.log(this.$data);
            }
        },
    });
</script>

</html>